html, body {
  overflow: hidden;
}

a, a:hover {
  color: #8686FC;
  font-size: 16px;
}

b {
  font-size: 22px;
}

bb {
  font-size: 16px;
}

.alert-info {
  background-color: #FFFFFF;
  color: #2A2A2A;
  border-style: solid;
  border-color: #DDDDDD;
  text-align: center;
  font-size: 17px;
  /*padding: 10px;*/
  /*margin-right: 10px;*/
  margin-left: 9px;
  border-radius: 0px;
}

.alert-success {
  /*background-color: #FFFFFF;*/
  color: #2A2A2A;
  border-style: solid;
  border-color: #DDDDDD;
  text-align: center;
  font-size: 16px;
  /*padding: 10px;*/
  /*margin-right: 10px;*/
  margin-left: 515px;
  margin-top: 20px;
  border-radius: 100px;
  padding-top: 8px;
}

.btn {
  /*width: 170px;*/
  font-size: 12px;
  background-color: #DDDDDD;
  color: #2A2A2A;
  border-color: #2A2A2A;
  border-width: 1px;
  font-size: 16px;
  /*margin-top: 20px;*/
  margin-left: 13px;
  /*border-radius: 10px;*/
}

.state {
  margin-left: 27px;
}

#top {
  background-color: #F2F2F2;
  color: #121212;
  font-size: 12px;
}

#center {
  /*z-index: 1;*/
  border-color: #DDDDDD;
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
}


#right {
  background-color: #F2F2F2;
  color: #2A2A2A;
  font-size: 16px;
}

#bottom {
  background-color: #F2F2F2;
  color: #121212;
  font-size: 14px;
}

#matrices {
  background-color: #2A2A2A;
  border-radius: 5px;
  font-size: 80%;
}

.list-group {
  max-height: 240px;
  margin-bottom: 10px;
  margin-left: 15px;
  border-color: #DDDDDD;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.list-group-item {
  font-size: 16px;
}

button {
  position: absolute;
  display: block;
}
.col-form-label {
  text-align: left;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 13px;
  margin-bottom: 3px;
}
